.idea
__pycache__
Data/AllFiles
Data/*.doc
Data/*.docx
Models
.env
PlayGround.py
abm-automation-1b460-firebase-adminsdk-8nvo6-9806782ed2.json
SentenceTransformer.py
/Results/BridgingGapCopy
/Results/BridgingGapCopy2
progress - Copy.csv
progress.csv
SentenceTransformer_all-MiniLM-L6-v2_Results_250107V1.pkl