scikit-learn
pandas
numpy
scipy
matplotlib
seaborn
openai
torch
accelerate
transformers
tokenizers
bitsandbytes
einops
xformers
langchain
faiss-gpu
faiss-cpu
sentence_transformers
sentencepiece
python-dotenv
firebase_admin